@import url('https://fonts.googleapis.com/css2?family=Forum&family=Metrophobic&family=Montserrat&display=swap');

/* Colores */
$verde: #3dd40b;
$gris: #433520;
$azul: #025955;
$azulClaro: #01a088;
$crema: #FDE8CD;

html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
  }


.articulo{
    width: 100%;

    .title{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        left: 15%;
        width: 50%;
        height: 13rem;

        h1{
            font-size: 2.5rem;
        }
        .autor{
            display: flex;
            justify-content: center;

            h2{
                font-size: 1rem;
                font-weight: 200;
            }
        }

        span{
            width: 15%;
            height: 0.3rem;
            background-color: $verde;
            border-radius: 5px;
            content: "";
            margin-top: 0.5rem;
        }
    }

    .brief{
        font-family: 'Forum', sans-serif;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;


        p{
            width: 80%;
            font-size: 1rem;
            text-align: center;
        }
    }

    .imagen{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 70%;
            height: 20rem;
            margin: 1.5rem 0;
            object-fit: cover;
        }

        span{
            content: "";
            width: 80%;
            height: 0.2rem;
            background-color: $verde;
            border-radius: 5px;
            margin: 1.5rem 0;
        }
    }

    .contenido{
        font-family: 'Metrophobic', sans-serif;
        width: 60%;
        margin: 2rem auto 2rem auto;
        font-size: 1rem;
        text-align: justify;
    }

    .post_relacionados{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-size: 1.5rem;
        }

        span{
            width: 50%;
            height: 0.2rem;
            background-color: $verde;
            content: "";
        }

        .posts{
            width: 80%;
            height: 20%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            margin: 3rem;

            a{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: $gris;

                img{
                    width: 70%;
                    height: 70%;
                    object-fit: cover;
                }

                h2{
                    width: 50%;
                    padding: .5rem;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }
    }

    .comentarios{
        margin-top: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;

        h2{
            margin-bottom: .5rem;
        }
        span{
            width: 50%;
            height: 0.2rem;
            background-color: $verde;
            content: "";
        }

        .comentario{
            width: 70%;
            margin-top: 1rem;
            border: 1px solid $gris;
            border-radius: 5px;

            .autor{
                width: 100%;
                background-color: $gris;
                color: white;
                padding: 1rem;

                span{
                    width: 50%;
                    height: 2rem;
                    background-color: #FDE8CD;
                    border-radius: 50%;
                    content: "";
                }
            }

            h3{
                padding: 1rem;
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .articulo{
        .title{
            width: 80%;
        }

        .brief{
            background-color: transparent;
            width: 70%;
            display: block;
            margin: auto;

            p{
                justify-self: center;
                width: 100%;
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 650px){
    .articulo{
        .post_relacionados{
            .posts{
                grid-template-columns: repeat(1,1fr);
            }
        }
    }
}

@media screen and (max-width: 450px){
    .articulo{
        .title{
            width: 95%;
            height: 15rem;
            left: 5%;
        }
    }
}

