@import url('https://fonts.googleapis.com/css2?family=Forum&family=Metrophobic&family=Montserrat&display=swap');

/* Colores */
$verde: #44e70e;
$gris: #433520;
$light_grey: #d3d3d3;
$azul: #025955;
$azulClaro: #00917C;
$crema: #FDE8CD;
$black: #363636;

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: #F6F6F6;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
}

body {
    font-size: 62.5%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 'imagen contenido';

    .image{
        width: 90%;
        height: 100vh;
        float: left;
        grid-area: imagen;

        img{
            width: 100%;
            height: 100%;
            opacity: 0.95;
        }
    }

    .content{
        grid-area: contenido;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        svg{
            width: 20%;
            height: 20%;
        }

        .card{
            width: 85%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 5px;

            .title{
                font-size: 1.5rem;
                margin-top: -2rem;
            }

            form{
                width: 70%;
                font-size: 0.8rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;

                input{
                    width: 80%;
                    height: 80%;
                    margin: 1rem;
                    padding: 0.5rem 0;
                    font-size: 0.8rem;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid grey;
                    outline: 0;
                    transition: border-color 0.3s;
                }

                button[type="submit"]{
                    width: 10rem;
                    height: 3.5rem;
                    font-size: 1.2rem;
                    border-radius: 5px;
                    border: none;
                    background-color: $verde;
                    color: #fff;
                    padding: 1.2rem;
                    margin: 1.2rem;
                    transition: all 0.2s ease;

                    &:hover {
                        background-color: $gris;
                        color: $light_grey;
                    }
                }

            }

            .iniciaSesion{
                font-size: 0.8rem;

                a{
                    color: $gris;
                    font-weight: bold;
                    transition: transform 0.2s ease, color 0.2s ease;
                    text-decoration: none;

                    &:hover {
                        transform: translateX(4px);
                        color: $verde;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .container {
        width: 100%;
        display: flex;

        .image {
            display: none;
        }

        .content {
            width: 100%;
            svg{
                width: 30%;
            }
        }
    }
}
