@import url("https://fonts.googleapis.com/css2?family=Forum&family=Metrophobic&family=Montserrat&display=swap");
/* Colores */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

.articulo {
  width: 100%;
}

.articulo .title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  left: 15%;
  width: 50%;
  height: 13rem;
}

.articulo .title h1 {
  font-size: 2.5rem;
}

.articulo .title .autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articulo .title .autor h2 {
  font-size: 1rem;
  font-weight: 200;
}

.articulo .title span {
  width: 15%;
  height: 0.3rem;
  background-color: #3dd40b;
  border-radius: 5px;
  content: "";
  margin-top: 0.5rem;
}

.articulo .brief {
  font-family: 'Forum', sans-serif;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.articulo .brief p {
  width: 100%;
  font-size: 1.1 rem;
  text-align: center;
}

.articulo .imagen {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articulo .imagen img {
  width: 70%;
  height: 20rem;
  margin: 1.5rem 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.articulo .imagen span {
  content: "";
  width: 80%;
  height: 0.2rem;
  background-color: #3dd40b;
  border-radius: 5px;
  margin: 1.5rem 0;
}

.articulo .contenido {
  font-family: 'Metrophobic', sans-serif;
  width: 60%;
  margin: 2rem auto 2rem auto;
  font-size: 1.4rem;
  line-height: calc(1.4rem * 1.618);
  text-align: justify;
}

.articulo .post_relacionados {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articulo .post_relacionados h1 {
  font-size: 1.5rem;
}

.articulo .post_relacionados span {
  width: 50%;
  height: 0.2rem;
  background-color: #3dd40b;
  content: "";
}

.articulo .post_relacionados .posts {
  width: 80%;
  height: 20%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 3rem;
}

.articulo .post_relacionados .posts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #433520;
}

.articulo .post_relacionados .posts a figure {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.articulo .post_relacionados .posts a figure img {
  position: relative;
  width: 20rem;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.articulo .post_relacionados .posts a figure .info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  color: white;
}

.articulo .post_relacionados .posts a figure:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 1;
}

.articulo .post_relacionados .posts a figure:hover .info {
  opacity: 1;
  visibility: visible;
  color: wheat;
}

.articulo .post_relacionados .posts a figure:hover .info h1 {
  color: white;
  font-size: 1.6rem;
  padding: 1.2rem;
  font-family: 'Metrophobic', sans-serif;
}

.articulo .post_relacionados .posts a figure:hover .info p {
  font-family: 'Forum', sans-serif;
  color: white;
  padding: 1.2rem;
  text-align: justify;
}

.articulo .post_relacionados .posts a figure:hover + h2 {
  display: none;
}

.articulo .post_relacionados .posts a h2 {
  width: 50%;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

.articulo .comentarios {
  margin-top: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.articulo .comentarios h2 {
  margin-bottom: .5rem;
}

.articulo .comentarios span {
  width: 50%;
  height: 0.2rem;
  background-color: #3dd40b;
  content: "";
}

.articulo .comentarios .enviarComentario {
  margin: 1.2rem 0 1.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.articulo .comentarios .enviarComentario form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articulo .comentarios .enviarComentario form textarea {
  border-radius: 5px;
  background-color: #433520;
  color: #FDE8CD;
  resize: none;
  padding: 1.6rem;
  width: 80%;
  height: 10%;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.articulo .comentarios .enviarComentario form input {
  margin: 1.2rem;
  -ms-grid-column-align: right;
      justify-self: right;
  border-radius: 5px;
  border: none;
  width: 4rem;
  height: 2rem;
  background-color: #3dd40b;
  -webkit-transition: background-color 0.25s ease, -webkit-transform 0.25s ease, -webkit-box-shadow 0.25s ease;
  transition: background-color 0.25s ease, -webkit-transform 0.25s ease, -webkit-box-shadow 0.25s ease;
  transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
  transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease, -webkit-transform 0.25s ease, -webkit-box-shadow 0.25s ease;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.articulo .comentarios .enviarComentario form input:hover {
  -webkit-transform: translate3d(0px, -1px, 0px);
          transform: translate3d(0px, -1px, 0px);
  background-color: #43eb0c;
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.articulo .comentarios .comentario {
  width: 70%;
  margin-top: 1rem;
  border: 1px solid #433520;
  border-radius: 5px;
}

.articulo .comentarios .comentario .autor {
  width: 100%;
  background-color: #433520;
  color: white;
  padding: 1rem;
}

.articulo .comentarios .comentario .autor span {
  width: 50%;
  height: 2rem;
  background-color: #FDE8CD;
  border-radius: 50%;
  content: "";
}

.articulo .comentarios .comentario h3 {
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .articulo .title {
    width: 80%;
  }
  .articulo .brief {
    background-color: transparent;
    width: 70%;
    display: block;
    margin: auto;
  }
  .articulo .brief p {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 1240px) {
  .articulo .post_relacionados .posts {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .articulo .post_relacionados .posts img {
    width: 15rem;
    height: 10rem;
  }
}

@media screen and (max-width: 1240px) {
  .articulo .post_relacionados .posts {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .articulo .post_relacionados .posts img {
    width: 15rem;
    height: 10rem;
  }
}

@media screen and (max-width: 450px) {
  .articulo .title {
    width: 95%;
    height: 15rem;
    left: 5%;
  }
  .articulo .title h1 {
    font-size: 1.8rem;
  }
  .articulo .title .autor {
    margin: 1rem;
  }
}
/*# sourceMappingURL=articulos.css.map */