@import url("https://fonts.googleapis.com/css2?family=Forum&family=Metrophobic&family=Montserrat&display=swap");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Colores */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
}

body {
  font-size: 62.5%;
}

.container {
  width: 100vw;
  height: 100vh;
}

.container .imageContainer {
  width: 45%;
  height: 100%;
  float: right;
}

.container .imageContainer img {
  width: 100%;
  height: 100%;
}

.container .loginContainer {
  width: 55%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .loginContainer svg {
  height: 20%;
  margin-top: 2rem;
}

.container .loginContainer .card {
  height: 40rem;
  width: 25rem;
  background-color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .loginContainer .card .header {
  font-size: 1.2rem;
}

.container .loginContainer .card form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .loginContainer .card form input {
  background-color: #d3d3d3;
  border-radius: 5px;
  border: none;
  width: 20rem;
  height: 2.5rem;
  font-size: 0.8rem;
  margin: 1rem;
  padding: 0.5rem;
}

.container .loginContainer .card form .recordar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .loginContainer .card form .recordar .imagen {
  background-image: url();
}

.container .loginContainer .card form .recordar input[type="checkbox"] {
  background-color: #d3d3d3;
  margin: 1rem -7.5rem;
}

.container .loginContainer .card form .recordar label {
  font-size: 1rem;
}

.container .loginContainer .card form .recordar label .texto {
  font-size: 1.2rem;
}

.container .loginContainer .card form button {
  height: 3rem;
  width: 8rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  margin: 2rem;
  background-color: #44e70e;
  color: #433520;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.container .loginContainer .card form button:hover {
  background-color: #433520;
  color: #d3d3d3;
}

.container .loginContainer .card form a {
  font-size: 1rem;
  text-decoration: none;
  color: #363636;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.container .loginContainer .card form a:hover {
  color: #44e70e;
}

.container .loginContainer .card .registrate {
  padding-top: 2rem;
  font-size: 1.2rem;
}

.container .loginContainer .card .registrate a {
  cursor: pointer;
  color: #433520;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, color 0.2s ease;
  transition: transform 0.2s ease, color 0.2s ease, -webkit-transform 0.2s ease;
}

.container .loginContainer .card .registrate a:hover {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  color: #44e70e;
  cursor: pointer;
}

.container .error {
  color: red;
}

@media screen and (max-width: 770px) {
  .container .imageContainer {
    display: none;
  }
  .container .loginContainer {
    width: 100%;
  }
}
/*# sourceMappingURL=login.css.map */