@import url("https://fonts.googleapis.com/css2?family=Forum&family=Metrophobic&family=Montserrat&display=swap");
/* Colores */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

body {
  font-size: 62.5%;
}

body .navegador {
  width: 100vw;
  height: 10vh;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navegador .contenedor-navegador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 100%;
}

body .navegador .contenedor-navegador .logo {
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navegador .contenedor-navegador .close {
  display: none;
}

body .navegador .contenedor-navegador .enlaces {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navegador .contenedor-navegador .enlaces a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #433520;
  padding: 0 1.2rem 0 1.2rem;
  -webkit-transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, color 0.2s ease;
  transition: transform 0.2s ease, color 0.2s ease, -webkit-transform 0.2s ease;
}

body .navegador .contenedor-navegador .enlaces a:hover {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  color: #3dd40b;
}

body .navegador .contenedor-navegador .menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  body .navegador .contenedor-navegador .enlaces {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #433520;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2;
  }
  body .navegador .contenedor-navegador .enlaces.activo {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  body .navegador .contenedor-navegador .enlaces.activo .close {
    display: inline;
    position: fixed;
    top: 5%;
    right: 10%;
  }
  body .navegador .contenedor-navegador .enlaces.activo .close svg {
    fill: wheat;
    -webkit-transition: color 0.2s ease, -webkit-transform 0.2s ease;
    transition: color 0.2s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, color 0.2s ease;
    transition: transform 0.2s ease, color 0.2s ease, -webkit-transform 0.2s ease;
  }
  body .navegador .contenedor-navegador .enlaces.activo .close svg:hover {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
    fill: red;
  }
  body .navegador .contenedor-navegador .enlaces.activo a {
    position: relative;
    top: 15%;
    display: inline;
    color: wheat;
  }
  body .navegador .contenedor-navegador .enlaces.activo a:hover {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
    color: #3dd40b;
  }
  body .navegador .contenedor-navegador .menu {
    display: inline-block;
    -webkit-transition: color 0.2s ease, -webkit-transform 0.2s ease;
    transition: color 0.2s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, color 0.2s ease;
    transition: transform 0.2s ease, color 0.2s ease, -webkit-transform 0.2s ease;
  }
  body .navegador .contenedor-navegador .menu:hover {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
    fill: #3dd40b;
  }
}
/*# sourceMappingURL=nav.css.map */