@import url("https://fonts.googleapis.com/css2?family=Forum&family=Metrophobic&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
/* Colores */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

body {
  font-size: 62.5%;
}

body .principal {
  background-image: url("../assets/img/landing-page.jpg");
  background-size: cover;
  min-height: 100vh;
  opacity: 0.85;
}

body .principal .navegacion {
  width: 100vw;
  height: 10vh;
}

body .principal .navegacion .contenedor-navegacion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

body .principal .navegacion .contenedor-navegacion .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 80%;
  padding: 0, 0.2rem;
}

body .principal .navegacion .contenedor-navegacion .enlaces {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .principal .navegacion .contenedor-navegacion .enlaces .close {
  display: none;
}

body .principal .navegacion .contenedor-navegacion .enlaces a {
  text-decoration: none;
  margin: 1.5rem;
  display: inline-block;
  position: relative;
  color: #433520;
  -webkit-transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, color 0.2s ease;
  transition: transform 0.2s ease, color 0.2s ease, -webkit-transform 0.2s ease;
}

body .principal .navegacion .contenedor-navegacion .enlaces a:hover {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  color: #4AFF0B;
}

body .principal .navegacion .contenedor-navegacion .menu {
  display: none;
}

body .principal .eslogan {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 20%;
  left: 15%;
}

body .principal .eslogan span {
  font-family: 'Raleway', sans-serif;
  font-size: 4.5rem;
  line-height: 7rem;
  color: #025955;
  z-index: 2;
}

body .principal .eslogan span.light {
  font-weight: 300;
}

body .principal .eslogan span.regular {
  font-weight: 400;
}

body .principal .eslogan span.medium {
  font-weight: 500;
}

body .principal .eslogan svg {
  position: relative;
  bottom: 1rem;
  left: 3rem;
  fill: #433520;
  width: 15rem;
  overflow: visible;
  z-index: 1;
}

body .principal .registrate {
  position: absolute;
  left: 15%;
  bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .principal .registrate p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

body .principal .registrate button {
  overflow: hidden;
  padding: 12px 30px;
  border-radius: 6px;
  background-color: #4AFF0B;
  color: #433520;
  position: relative;
  display: inline-block;
  border: none;
}

body .principal .registrate button::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5851ec;
  opacity: 0.1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1), -webkit-transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  will-change: transform;
}

body .principal .registrate button:hover::before {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.horizontalOverlay {
  overflow: hidden;
  padding: 12px 30px;
  border-radius: 6px;
  border: none;
  background-color: #FDE8CD;
  color: #5851ec;
  position: relative;
  display: inline-block;
}

.horizontalOverlay::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5851ec;
  opacity: 0.1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1), -webkit-transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  will-change: transform;
}

.horizontalOverlay:hover::before {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media screen and (max-width: 1024px) {
  body .principal .navegacion.contenedor-navegacion .enlaces {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #433520;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2;
  }
  body .principal .navegacion.contenedor-navegacion .enlaces.activo {
    -webkit-transform: translate(0%);
            transform: translate(0%);
    z-index: 5;
  }
  body .principal .navegacion.contenedor-navegacion .enlaces.activo .close {
    display: inline;
    position: fixed;
    top: 5%;
    right: 10%;
  }
  body .principal .navegacion.contenedor-navegacion .enlaces.activo .close svg {
    fill: wheat;
    -webkit-transition: color 0.2s ease, -webkit-transform 0.2s ease;
    transition: color 0.2s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, color 0.2s ease;
    transition: transform 0.2s ease, color 0.2s ease, -webkit-transform 0.2s ease;
  }
  body .principal .navegacion.contenedor-navegacion .enlaces.activo .close svg:hover {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
    fill: red;
    cursor: pointer;
  }
  body .principal .navegacion.contenedor-navegacion .enlaces.activo a {
    position: relative;
    display: inline;
    color: wheat;
  }
  body .principal .navegacion.contenedor-navegacion .enlaces.activo a:hover {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
    color: #4AFF0B;
  }
  body .principal .navegacion.contenedor-navegacion .menu {
    position: relative;
    display: inline-block;
    -webkit-transition: color 0.2s ease, -webkit-transform 0.2s ease;
    transition: color 0.2s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, color 0.2s ease;
    transition: transform 0.2s ease, color 0.2s ease, -webkit-transform 0.2s ease;
    right: 2rem;
  }
  body .principal .navegacion.contenedor-navegacion .menu:hover {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
    fill: #4AFF0B;
    cursor: pointer;
  }
}

@media screen and (max-height: 657px) and (max-width: 1024px) {
  body .principal .eslogan span {
    font-size: 3.5rem;
    line-height: 6rem;
  }
  body .principal .registrate {
    bottom: 3rem;
  }
}

@media screen and (max-width: 685px) {
  body .principal {
    background-image: url("../assets/img/landing-responsive.jpg");
  }
  body .principal .eslogan span {
    font-size: 3rem;
    line-height: 4rem;
  }
  body .principal .eslogan svg {
    width: 12rem;
    bottom: 0.8rem;
    left: 2.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */