@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500&display=swap");
/* Colores */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

body {
  font-size: 62.5%;
}

body .principal {
  background-image: url("../assets/img/landing-page.jpg");
  background-size: cover;
  min-height: 100vh;
}

body .principal .navegacion {
  width: 100vw;
  height: 10vh;
}

body .principal .navegacion .contenedor-navegacion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

body .principal .navegacion .contenedor-navegacion .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 80%;
  padding: 0, 0.2rem;
}

body .principal .navegacion .contenedor-navegacion .enlaces {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .principal .navegacion .contenedor-navegacion .enlaces a {
  text-decoration: none;
  color: black;
  margin: 1.5rem;
}

body .principal .eslogan {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 20%;
  left: 15%;
}

body .principal .eslogan span {
  font-family: 'Catamaran', sans-serif;
  font-size: 4rem;
  color: #025955;
  z-index: 2;
}

body .principal .eslogan span.light {
  font-weight: 300;
}

body .principal .eslogan span.regular {
  font-weight: 400;
}

body .principal .eslogan span.medium {
  font-weight: 500;
}

body .principal .eslogan svg {
  position: relative;
  bottom: 1.8rem;
  left: 1.5rem;
  fill: #433520;
  width: 15rem;
  overflow: visible;
  z-index: 1;
}

body .principal .registrate {
  position: absolute;
  left: 15%;
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .principal .registrate p {
  font-size: 1rem;
}

body .principal .registrate button {
  font-size: 1rem;
  color: #025955;
  background-color: #FDE8CD;
  border-radius: 0.8rem;
  border: none;
  padding: 1rem;
  margin: 1rem;
}
/*# sourceMappingURL=styles.css.map */